#textdomain wesnoth-Roar_of_the_Woses

[terrain_type]
    symbol_image=water/deep-c
    id=deep_water_c
    name= _ "Deep Water"
    string=Woy
    aliasof=Wo
    submerge=0.5
    unit_height_adjust=-3
    editor_group=rotw
[/terrain_type]

[terrain_type]
    symbol_image=water/shallow-c
    id=shallow_water_c
    name= _ "Shallow Water"
    string=Wwy
    aliasof=Ww
    submerge=0.4
    unit_height_adjust=-4
    editor_group=rotw
[/terrain_type]

[terrain_type]
    symbol_image=water/ford-c
    id=ford_c
    name= _ "Cave Ford"
    string=Wwfy
    aliasof=Gt, Ww
    submerge=0.3
    unit_height_adjust=-4
    editor_group=rotw
[/terrain_type]

[terrain_type]
    symbol_image=../scenery/village-human-burned1
    id=burnt_village
    name= _ "Burned Village"
    string=^Vyb
    aliasof=_bas
    heals=2
    gives_income=false
    editor_group=rotw
[/terrain_type]

# check for removal in 1.9
[terrain_type]
    symbol_image=village/coast-tile
    id=mermen_village
    name= _ "Village"
    string=Wwy^Vm
    aliasof=Ww
    submerge=0.4
    unit_height_adjust=-4
    heals=8
    gives_income=true
    editor_group=rotw
[/terrain_type]
