# wmllint: no translatables

# Underground water terrains
#30% 30% 40%
{TERRAIN_BASE_P          Woy    30                 water/deep-c3}
{TERRAIN_BASE_P          Woy    43                 water/deep-c2}
{TERRAIN_BASE            Woy                       water/deep-c}

{ROTW:BASE_PLFB Wwy 100 -1000 base water/shallow-c 0;72;144;216;288}

#33% 67%
{TERRAIN_BASE_P          Wwfy    33                 water/ford-c2}
{TERRAIN_BASE            Wwfy                       water/ford-c}

#Burned villages
#25% 25% 25% 25%
{VILLAGE_P              *^Vyb   25                 ../scenery/village-human-burned1}
{VILLAGE_P              *^Vyb   33                 ../scenery/village-human-burned2}
{VILLAGE_P              *^Vyb   50                 ../scenery/village-human-burned3}
{VILLAGE_P              *^Vyb   100                ../scenery/village-human-burned4}

# Encampment w/ cave wall transitions
{NEW:WALL2       (Ce,Ke)  X*  (!,Ce,Ke,X*)  castle/encampment-wall}

# Underground water transitions
{TRANSITION_COMPLETE_L     (Uu,Uh)          (Woy,Wwy,Wwfy)              -220       cave/floor}
{TRANSITION_COMPLETE_L     Ur               (Woy,Wwy,Wwfy)              -221       cave/floor}

{ROTW:BORDER_PLFB Wwy (!,Wwy,!,W*) 100 -550 transition water/shallow-ct 0}
{ROTW:BORDER_PLFB Woy (!,Woy,!,W*) 100 -560 transition water/deep-ct 0}

# Waterfalls

# Ensure chasm bridges stop waterfalls where they touch the edge of the chasm.
[terrain_graphics]
    [tile]
        x=0
        y=0
        type=Qxu^Bs|
        set_flag=waterfall-n,waterfall-s
    [/tile]
[/terrain_graphics]
[terrain_graphics]
    [tile]
        x=0
        y=0
        type=Qxu^Bs/
        set_flag=waterfall-ne,waterfall-sw
    [/tile]
[/terrain_graphics]
[terrain_graphics]
    [tile]
        x=0
        y=0
        type=Qxu^Bs\
        set_flag=waterfall-nw,waterfall-se
    [/tile]
[/terrain_graphics]

# The actual waterfalls
[terrain_graphics]
    map="
2
, 1
3
, 2"
    [tile]
        pos=1
        type=Wwy,Woy
    [/tile]
    [tile]
        pos=2
        type=Q*
    [/tile]
    [tile]
        pos=3
        type=Qxu
        no_flag=waterfall-ne
    [/tile]
    [image]
        name=water/waterfall-ne-se-n.png
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
*
, 2
1
, 3
2"
    [tile]
        pos=1
        type=Wwy,Woy
    [/tile]
    [tile]
        pos=2
        type=Q*
    [/tile]
    [tile]
        pos=3
        type=Qxu
        no_flag=waterfall-nw
    [/tile]
    [image]
        name=water/waterfall-nw-n-sw.png
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
1
,  2
3"
    [tile]
        pos=1
        type=Wwy,Woy
    [/tile]
    [tile]
        pos=2
        type=Qxu
        no_flag=waterfall-nw
    [/tile]
    [tile]
        pos=3
        type=!,Q*
    [/tile]
    [image]
        name=water/waterfall-cw-nw.png
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
, 1
2,
, 3"
    [tile]
        pos=1
        type=Wwy,Woy
    [/tile]
    [tile]
        pos=2
        type=Qxu
        no_flag=waterfall-ne
    [/tile]
    [tile]
        pos=3
        type=!,Q*
    [/tile]
    [image]
        name=water/waterfall-cw-ne.png
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
.
, 1
3,  4
, 2"
    [tile]
        pos=1
        type=Wwy,Woy
    [/tile]
    [tile]
        pos=2
        type=Qxu
        no_flag=waterfall-n
    [/tile]
    [tile]
        pos=3
        type=!,Q*
    [/tile]
    [tile]
        pos=4
        type=Q*
    [/tile]
    [image]
        name=water/waterfall-cw-n-ne.png
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
1
,  1
2"
    [tile]
        pos=1
        type=Wwy,Woy
    [/tile]
    [tile]
        pos=2
        type=Qxu
        no_flag=waterfall-ne
    [/tile]
    [image]
        name=water/waterfall-n-ne.png
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
.
, 1
3,  3
, 2"
    [tile]
        pos=1
        type=Wwy,Woy
    [/tile]
    [tile]
        pos=2
        type=Qxu
        no_flag=waterfall-n
    [/tile]
    [tile]
        pos=3
        type=!,Q*
    [/tile]
    [image]
        name=water/waterfall-n.png
    [/image]
[/terrain_graphics]
[terrain_graphics]
    map="
.
, 1
2,  3
, 4"
    [tile]
        pos=1
        type=Wwy,Woy
    [/tile]
    [tile]
        pos=2
        type=Qxu
        no_flag=waterfall-ne
    [/tile]
    [tile]
        pos=3
        type=!,Wwy,Woy
    [/tile]
    [tile]
        pos=4
        type=Qxu
        no_flag=waterfall-n
    [/tile]
    [image]
        name=water/waterfall-cw-nw-n.png
    [/image]
[/terrain_graphics]

# Water surface decorations
# Randomly mark a group of tiles to not have overlays
{OVERLAY_PF (Wwy,Wwfy,Woy) 60 overlay blank}

{DROP_ONE_OVERLAY 4140 17}
{DROP_ONE_OVERLAY 3910 20}
{DROP_ONE_OVERLAY 3720 25}
{DROP_ONE_OVERLAY 3510 33}
{DROP_ONE_OVERLAY 3340 50}
{DROP_ONE_OVERLAY 3200 100}
