#textdomain wesnoth-Roar_of_the_Woses

[scenario]
    id=12_Epilogue
    name= _ "Epilogue"
    {NO_MAP_DATA}
    turns=10
    next_scenario=null
    [story]
        [part]
            name=traveling_minstrels.ogg
            story= _ "The destruction of the dam caused a great flood to sweep downriver. When Kylix and Isarras returned home, all trace of human presence had been washed away. Moreover, the flood had severely damaged the lands of neighbouring tribes, weakening them such that Kylix was able to easily expand her territory. There she ruled for another ten years, until she died, old and powerful."
            background=maps/wesnoth.png
        [/part]
        [part]
            story= _ "Isarras remained an ally of the tribe and was never given cause to regret his suggestion."
            background=maps/wesnoth.png
        [/part]
        [if]
            [have_unit]
                id=Gra Korust
                search_recall_list=yes
            [/have_unit]
            [then]
                [part]
                    story= _ "Gra Korust returned to his home in the Estmarks. He became a frequent visitor and an informal competition arose between him and the tribe, each trying to ambush the other."
                    background=maps/wesnoth.png
                [/part]
            [/then]
        [/if]
        [if]
            [have_unit]
                id=Ignavus
                search_recall_list=yes
            [/have_unit]
            [then]
                [part]
                    story= _ "Ignavus left suddenly, soon after the dam was destroyed. Shortly afterward a party of dwarves was seen travelling east."
                    background=maps/wesnoth.png
                [/part]
            [/then]
        [/if]
        [part]
            story= _ "The human rogues quickly scattered and many were later killed by Kylix during one of her raids."
            background=maps/wesnoth.png
        [/part]
    [/story]
    [event]
        name=prestart
        [endlevel]
            carryover_report=no
            save=no
            linger_mode=no
        [/endlevel]
    [/event]
    [side]
        type=Saurian Flanker
        name = _ "Kylix"
        id=Kylix
        gender=female
        canrecruit=yes
        unrenamable=yes
        [modifications]
            {TRAIT_HEALTHY}
        [/modifications]

        side=1
        controller=human
    [/side]
    [side]
        type=Orcish Warlord
        side=2
        canrecruit=yes
        recruit=Orcish Warrior
    [/side]
[/scenario]
