# wmllint: no translatables

#define HEAL_GROUP FILTER AMOUNT
    [store_unit]
        {FILTER}
        variable=units_to_heal
    [/store_unit]

    [set_variable]
        name=max_heal_amount
        value={AMOUNT}
    [/set_variable]
    [set_variable]
        name=max_heal_amount
        divide=3
    [/set_variable]
    [set_variable]
        name=max_heal_amount
        round=0
    [/set_variable]

    {FOREACH units_to_heal u}
        [set_variable]
            name=heal_amount
            value=$units_to_heal[$u].max_hitpoints
        [/set_variable]
        [set_variable]
            name=heal_amount
            add=-$units_to_heal[$u].hitpoints
        [/set_variable]
        [if]
            [variable]
                name=heal_amount
                greater_than=$max_heal_amount
            [/variable]
            [then]
                [set_variable]
                    name=heal_amount
                    value=$max_heal_amount
                [/set_variable]
            [/then]
        [/if]
        [if]
            [variable]
                name=heal_amount
                greater_than=0
            [/variable]
            [then]
                [set_variable]
                    name=units_to_heal[$u].hitpoints
                    add=$heal_amount
                [/set_variable]
                [unstore_unit]
                    {COLOR_HEAL}
                    text=$heal_amount
                    find_vacant=no
                    variable=units_to_heal[$u]
                [/unstore_unit]
                [sound]
                    name="heal.wav"
                [/sound]
            [/then]
        [/if]
    {NEXT u}
    {CLEAR_VARIABLE heal_amount}
    {CLEAR_VARIABLE max_heal_amount}
    {CLEAR_VARIABLE units_to_heal}
#enddef

[event]
    name=attacker_hits
    first_time_only=no

    [filter_attack]
        special=sacrifice
    [/filter_attack]

    [filter_second]
        [not]
            [filter_wml]
                [status]
                    not_living="yes"
                [/status]
            [/filter_wml]
        [/not]
    [/filter_second]

# wmlindent: start ignoring
    {HEAL_GROUP (
        [filter]
            [filter_location]
                x=$x1
                y=$y1
                radius=1
            [/filter_location]
            [and]
                side=$unit.side
                [not]
                    id=$unit.id
                [/not]
            [/and]
        [/filter])
        $damage_inflicted}
# wmlindent: stop ignoring
[/event]

[event]
    name=defender_hits
    first_time_only=no

    [filter_second_attack]
        special=sacrifice
    [/filter_second_attack]

    [filter]
        [not]
            [filter_wml]
                [status]
                    not_living="yes"
                [/status]
            [/filter_wml]
        [/not]
    [/filter]

# wmlindent: start ignoring
    {HEAL_GROUP (
        [filter]
            [filter_location]
                x=$x2
                y=$y2
                radius=1
            [/filter_location]
            [and]
                side=$second_unit.side
                [not]
                    id=$second_unit.id
                [/not]
            [/and]
        [/filter])
        $damage_inflicted}
# wmlindent: stop ignoring
[/event]
